[Unit]
Description=Update packages and reboot

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/bin/bash -c "pacman -Syu --noconfirm; pacman -Scc --noconfirm"
ExecStartPost=/usr/bin/systemctl reboot
