[Unit]
Description=Update packages and reboot

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=pacman -Syu --noconfirm
ExecStartPost=/usr/bin/systemctl reboot
