services:
  grafana:
    image: grafana/grafana@sha256:72dde541e643163175c2470794634ca42b719802bb8434e9a45f6ba39e64f9dc
    networks:
      default:
        ipv4_address: '172.16.1.2'
    ports:
      - '3000:3000'
    volumes:
      - grafana:/var/lib/grafana
  prometheus:
    image: prom/prometheus@sha256:81618c08bfa7e42b4144e7748b4a0724272c9ebd01f156f8dd15a5320d1b7e46
    networks:
      default:
        ipv4_address: '172.16.1.3'
    ports:
      - '9090:9090'
    volumes:
      - prometheus:/prometheus
      - type: bind
        source: ./prometheus.yml
        target: /etc/prometheus/prometheus.yml
  cloudflare-tunnel:
    image: cloudflare/cloudflared@sha256:89ee50efb1e9cb2ae30281a8a404fed95eb8f02f0a972617526f8c5b417acae2
    command: ['tunnel', '--no-autoupdate', 'run']
    environment:
      - TUNNEL_TOKEN=HERE_GOES_MY_TOKEN

volumes:
  grafana:
    driver: local
  prometheus:
    driver: local

networks:
  default:
    name: internal-network
    driver: bridge
    ipam:
      config:
        - subnet: 172.16.1.0/24
