services:
  grafana:
    image: grafana/grafana@sha256:72dde541e643163175c2470794634ca42b719802bb8434e9a45f6ba39e64f9dc
    networks:
      default:
        ipv4_address: '172.16.1.2'
    ports:
      - '3000:3000'
    volumes:
      - grafana:/var/lib/grafana
  victoriametrics:
    image: victoriametrics/victoria-metrics@sha256:e724328a2b22bfbe7c193002cf2bf99fa78a06f1967f6de15b621f5fee621dbc
    networks:
      default:
        ipv4_address: '172.16.1.4'
    ports:
      - '8428:8428'
    volumes:
      - victoriametrics:/storage
    command:
      - '--storageDataPath=/storage'
      - '--httpListenAddr=:8428'
      - '--retentionPeriod=2y'
  vmagent:
    image: victoriametrics/vmagent@sha256:cc06f3cc8d0fddccd4270015fa1a82b692b63ca6ddd05f8fe490510a511381f2
    depends_on:
      - 'victoriametrics'
    networks:
      default:
        ipv4_address: '172.16.1.5'
    ports:
      - '8429:8429'
    volumes:
      - vmagent:/vmagentdata
      - type: bind
        source: ./prometheus.yml
        target: /etc/prometheus/prometheus.yml
        read_only: true
    command:
      - '--promscrape.config=/etc/prometheus/prometheus.yml'
      - '--remoteWrite.url=http://172.16.1.4:8428/api/v1/write'
    restart: always
  cloudflare-tunnel:
    image: cloudflare/cloudflared@sha256:89ee50efb1e9cb2ae30281a8a404fed95eb8f02f0a972617526f8c5b417acae2
    networks:
      default:
        ipv4_address: '172.16.1.6'
    command: ['tunnel', '--no-autoupdate', 'run']
    environment:
      - TUNNEL_TOKEN=HERE_GOES_MY_TOKEN

volumes:
  grafana:
    driver: local
  victoriametrics:
    driver: local
  vmagent:
    driver: local

networks:
  default:
    name: internal-network
    driver: bridge
    ipam:
      config:
        - subnet: 172.16.1.0/24
