global:
  scrape_interval:     15s

scrape_configs:
  - job_name: 'node'
    static_configs:
    - targets:
        - '192.168.1.150:9100'
        - '192.168.1.175:9100'
        - '192.168.1.200:9100'
        - '192.168.1.225:9100'
        - '192.168.1.245:9100'
        - '192.168.1.180:9100'
  - job_name: 'nginx'
    metrics_path: '/metrics'
    static_configs:
    - targets:
        - '192.168.1.180:9113'
